---
import "../styles/global.css"
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Drawer from "../components/Drawer.astro"
import PageLayout from "../layouts/PageLayout.astro"
import { SITE } from "../config"
---

<PageLayout title={`404 Not Found | ${SITE.TITLE}`}>
  <Header />

  <main id="main-content">
    <div class="not-found-wrapper">
      <h1 aria-label="404 Not Found">404</h1>
      <span aria-hidden="true">¯\_(ツ)_/¯</span>
      <p>Page Not Found</p>
      <a
        href="/"
        class="my-6 underline decoration-dashed underline-offset-8 text-lg"
      >
        Go back home
      </a>
    </div>
  </main>

  <Footer />
</PageLayout>

<style>
  #main-content {
    @apply mx-auto flex max-w-3xl flex-1 items-center justify-center;
  }
  .not-found-wrapper {
    @apply mb-14 flex flex-col items-center justify-center;
  }
  .not-found-wrapper h1 {
    @apply text-9xl font-bold;
  }
  .not-found-wrapper p {
    @apply mt-4 text-2xl sm:text-3xl;
  }
</style>
